@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
*{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #6B78B9;
}
header{
    background-color: #25275C;
    position: sticky;
}
input[type="text"] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}
.container{
    width: 90%;
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}
.container2{
    overflow-x: scroll;
    max-height:90vh;
    padding: 0 15px 7%;
    margin: 0 auto;
    white-space: nowrap;
}
.container2::-webkit-scrollbar{
    width: 7px;
    background-color: #A8BBEB;
    -webkit-box-shadow: 5px 5px 5px -1px rgba(34, 60, 80, 0.2) inset;
}
.container2::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #25275C;
}
.logo{
    display: inline-block;
    margin: 0.5% auto auto 0.5%;
    width: 4%;

}
.logo_txt1{
    display: inline-block;
    font-size: 225%;
    margin: auto;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    color: white;
    cursor: pointer;

}
.logo_txt2{
    display: inline-block;
    font-size: 225%;
    margin: auto auto 1vh auto;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    font-weight: normal;
    cursor: pointer;

}
.menu{
    display: inline-block;
    min-width: 300px;
    margin: auto auto auto 10%;
}
.hbutton{
    text-decoration: none;
    color:white;
    font-size: 115%;
    font-family: 'Work Sans', sans-serif;
    margin: auto 3%;

}

.hbutton:hover{
    text-decoration: none;
    color:#e0e0e0;
    font-size: 115%;
    font-family: 'Work Sans', sans-serif;
    margin: auto 3%;

}
.login{
    font-family: 'Work Sans', sans-serif;
    border-radius: 5px;
    background-color: #465383;
    width: 40%;
    text-align: center;
    margin: auto;
    padding: 0.375rem 0.75rem;
    margin: 5% auto;
}
.login > h1{
    color: white;
}
.login > a{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-size: 200%;
    text-align: left;
    margin-left: 5%;
}
/* стили для input */
.text-field__input {
    margin-left: auto;
    margin-right: auto
    display: block;
    width: 85%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}
.button {
    font-family: 'Work Sans', sans-serif;
    border-radius: 3px;
    margin: 5%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.menu_button {
    font-family: 'Work Sans', sans-serif;
    display: block;
    width: 75%;
    border-radius: 2px;
    margin: 5% auto;
    background-color: #5435B8;
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.menu_button_input{
    font-family: 'Work Sans', sans-serif;
    display: block;
    width: 80%;
    border-radius: 2px;
    margin: 5% auto;
    background-color: #5435B8;
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.menu_button:hover {
    cursor: pointer;
    background-color: #8596e8;
}
.menu_button_input:hover {
    cursor: pointer;
    background-color: #8596e8;
}
.lmenu{
    display: inline-block;
    width: 15%;
    min-width: 150px;
    background-color: #6B78B9;
    min-height: 90vh;
    border-right: 4px solid #25275C;
}
.avatar{
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #5435B8, 0 0 13px #333;
    margin:15% auto 5% auto;
    width: 100px;
    height: 100px;
}
.avatar:hover{
    cursor: pointer;
}
.nick{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 175%;
    color: white;
    display: block;
    margin: 5% auto;
    -moz-user-select: auto;
    -khtml-user-select: auto;
    -webkit-user-select: auto;
    user-select: auto;
}
.logintxt{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #cecece;
    display: block;
    margin: 5% auto;
    -moz-user-select: auto;
    -khtml-user-select: auto;
    -webkit-user-select: auto;
    user-select: auto;
}
.line{
    width:101%;
    height: 3px;
    background-color: #25275C;
}
.boardList{
    display: inline-block;
    vertical-align: top;
}
.boardItem{
    display: inline-block;
    min-width: 20vw;
    margin: 2%;
    border-radius: 3px;
    background-color: #A8BBEB;
    text-align: center;
    cursor: pointer;
}

.boardName{
    font-family: 'Work Sans', sans-serif;
    color: white;
    margin: auto;
}
.yours{
    margin: 5%;
}
.yours > h1{
    min-width: 50vw;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-style: bold;
}
.yourp{
    display: inline-block;
    vertical-align: middle;
    min-width: 20vw;
    border-radius: 3px;
    background-color: #A8BBEB;
    color: #A8BBEB;
    padding: 4%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 125%;
    cursor: pointer;
    border: none;
}
.yourp:hover{
    background-color: #8596e8;
}
.other{
    margin: 5%;
}
.other > h1{
    min-width: 50vw;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-style: bold;
}
.hidden{
    display: none;
}

.columnName{
    background-color: #465383;
    width: 80%;
    color: white;
    margin: 0;
    padding: 5% 3%;
    font-size: 150% !important;
    border: none;
    transition: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.taskName{
    background-color: white;
    border-radius: 3px;
    margin: 3% 6%;
    padding: 6% 4%;
    color: black;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,.25);
}
.taskName:hover{
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,.25);
}
.taskColumn{
    font-family: 'Work Sans', sans-serif;
    color: white;
    border-radius: 5px;
    display: inline-block;
    background-color: #A8BBEB;
    vertical-align: top;
    margin: 5% 2% auto;
    min-height: 60vh;
    min-width: 15vw;
    box-shadow: 2px 3px 5px 2px rgba(0,0,0,.25);
}
.addButton{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: white;
    font-size: 250%;
    width:  50px;
    height: 50px;
    display: block;
    border: none;
    border-radius: 50%;
    margin: auto;
    background-color: rgba(70,83,131, 0.7);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,.25);
}
.container2 > form{
    display: inline-block;

}
.addColButton{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: white;
    font-size: 250%;
    width:  50px;
    height: 50px;
    display: block;
    border: none;
    border-radius: 50%;
    margin: 35vh 2% auto;
    background-color: rgba(70,83,131, 0.7);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,.25);
}
.addButton:hover{
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,.25);
}

.popUp{
    position: relative;
    top: -90vh;
}
.noviy{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 200% !important;
    color: white !important;
    font-family: 'Work Sans', sans-serif;
    border: none;
    border-radius: 5rem;
    background-color: #25275C;
    transition: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.noviy{
    font-family: 'Work Sans', sans-serif !important;
}
.da{
    display: none;
    vertical-align: middle;
    font-family: 'Work Sans', sans-serif !important;
    padding: 0.375rem 0.75rem;
    border: 1px solid #bdbdbd;
    border-radius: 5rem;
    transition: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.avtomat{
    background-color: #25275C;
    display: inline-block;
    margin-left: 20%;
    vertical-align: top;
    margin-top: 0.7%;
}
