<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="SHORTCUT ICON" href="{{ url_for('static', filename='img/chad.webp') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="utf-8">
        <meta name="keywords" content="Трелло, джира, гигачад">
        <meta name="description" content="Гигатаск для гигачадов">
        <title>GigaTask</title>
    </head>
    <body>
        <header>
            <div class="head">
                <img src="{{ url_for('static', filename='img/chad.webp')}}" alt="Лого">
                <h1>GigaTask</h1>
                <h3>Гигатаск для гигачадов</h3>
            </div>
            <div class="menu">
                <a href="/" class="hbutton" id="1">Профиль</a>
                <a href="/boards" class="hbutton" id="2">Мои доски</a>
                <a href="/logout" class="hbutton" id="3">Выйти</a>
            </div>
        </header>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
