<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="SHORTCUT ICON" href="{{ url_for('static', filename='img/chad.webp') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="utf-8">
        <meta name="keywords" content="Трелло, джира, гигачад">
        <meta name="description" content="Гигатаск для гигачадов">
        <title>GigaTask</title>
    </head>
    <body>
        <header>
            <div class="container">
                <img class="logo" src="{{ url_for('static', filename='img/chad.webp')}}" alt="Лого">
                <h1 class="logo_txt1" onclick="location.href='/'">Giga</h1>
                <h1 class="logo_txt2" onclick="location.href='/'">Task</h1>
        </header>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
