{% extends 'base.html' %}
{% block board %}
<form method="post" class="avtomat">
    <input type="text" name="boardName" value="{{board['name']}}" class="noviy">
    <input type="submit" name="submit" value="Переименовать" class="da">
</form>
{% endblock %}
{% block content %}
    <div class="container2">
        {% for i  in range(board['columncnt']) %}
            <div class="taskColumn">
                <form method="post" style="background-color: #465383;">
                    <input class="hidden" type="text" name="colId" value="{{columns[i]['id']}}">
                    <input type="text" name="columnName" value="{{columns[i]['columnname']}}" class="columnName">
                    <input type="submit" name="submit" value="Переименовать" class="da">
                    <img src="{{url_for('static', filename='img/GigaTrashCan.svg')}}" alt="Удалить" style="width: 20px; vertical-align: middle;" onclick="location.href='/colDel/{{columns[i]['id']}}'">
                </form>

                {% for task in tasks[i] %}
                <div class="task">
                    <p class="taskName" style="background-color: #{{task['colour']}}">{{task['taskname']}}
                    <img src="{{url_for('static', filename='img/niggertrashcan.svg')}}" alt="Удалить" style="width: 20px; vertical-align: middle;" onclick="location.href='/taskDel/{{task['id']}}'">
                    </p>
                </div>
                {% endfor %}
                <form method="POST">
                    <input class="hidden" name ='columnId' value={{columns[i]['id']}}>
                    <input class="addButton" name = "button" type="submit" value="+" onclick="showInput()">
                </form>
            </div>
            <form method="POST">
                <input class="hidden" name ='addColumn' value={{columns[i]['posonboard']}}>
                <input class="addColButton" name = "button" type="submit" value="+" onclick="showInput()">
            </form>
        {% endfor %}
    </div>
    {% if flag %}
    <div class="popUp">
        <div class="login">
            <h1>Создать задачу</h1>
            <form method="post">
                <div class="text-field">
                    <label class="text-field__label" for="login">Название</label>
                    <input class="text-field__input" type="text" name="taskname"/>
                </div>
                <div class="text-field">
                    <label class="text-field__label" for="login">Дедлайн</label>
                    <input class="text-field__input" type="text" name="timetobedone"/>
                </div>
                <div class="text-field">
                    <label class="text-field__label" for="login">Описание</label>
                    <input class="text-field__input" type="text" name="taskContent"/>
                </div>
                <div class="text-field">
                    <label class="text-field__label" for="login">HEX-цвет</label>
                    <input class="text-field__input" type="text" name="taskcolour"/>
                </div>

                <div class="text-field">
                    <label class="text-field__label" for="login">Логин отвественного</label>
                    <input class="text-field__input" type="text" name="login"/>
                </div>
                <input type="submit" class="button" value="Создать задачу">
            </form>
        </div>
    </div>
    {% endif %}
    <script type="text/javascript">
        function showInput() {
            document.getElementsByClassName('popUp')[0].style.display = "block";
        }
        function hideInput() {
            document.getElementsByClassName('popUp')[0].style.display = "none";
        }
    </script>
{% endblock %}
