{% extends 'base.html' %}
{% block content %}
<div class="lmenu">
    <img onclick="location.href='/uploadAv'" class="avatar" src="{{url_for('static', filename='img/avs/chad.webp')}}" alt="Аватар">
    <p class="nick">{{nick}}</p>
    <p class="logintxt">{{name}}</p>
    <div class="line"></div>
        <p class="menu_button" onclick="location.href='https://t.me/GigaTaskBot'">Бот телеграмм</p>
        <form  method="post">
        <input class="menu_button_input" type='submit' value="Создать доску">
        </form>
        <p class="menu_button" onclick="location.href='/profile'">Редактировать профиль</p>
        <p class="menu_button" onclick="location.href='/theme'">Сменить тему</p>
        <p class="menu_button" onclick="location.href='/logout'">Выйти</p>
</div>
<div class="boardList">
    <div class="yours">
        <h1>Ваши доски:</h1>
        {% if create == 'true' %}
        <form method="post">
            <form  method="post">
            <input class="yourp" type='submit' value="Создайте новую доску!">
            </form>
        </form>
        {% endif %}
        
        {% for board in boards %}
        {% if board['userright'] == 'creator'%}
        <div class="boardItem">
          <form action="board\{{board['id']}}" style="display: inline-block; vertical-align: middle;">
            <input class="yourp" type='submit' value= "{{board['name']}}">
            <img src="{{url_for('static', filename='img/GigaTrashCan.svg')}}" alt="Удалить" style="display: inline-block; width: 10%; vertical-align: middle;" onclick="location.href='/del/{{board['id']}}'">
          </form>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% if other == 'true' %}
    <div class="other">
        <h1>Другие доски:</h1>
        {% for board in boards %}
        {% if board['userright'] != 'creator'%}
        <div class="boardItem">
            <p class="yourp" >Доска {{board['name']}}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
