{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="login">
        <h1>Войдите в аккаунт</h1>
        {% if valid == 'Invalid'%}
          <h1>Неверный логин или пароль!</h1>
        {% endif %}
        <form method = "POST" class="inp">
            <div class="text-field">
                <label class="text-field__label" for="login">Логин</label>
                <input class="text-field__input" type="text" name="login" placeholder="Логин">
            </div>
            <br>
            <div class="text-field">
                <label class="text-field__label" for="login">Пароль</label>
                <input class="text-field__input" type="text" name="password" placeholder="Пароль">
            </div>
          <!-- <input class="inp" type = 'text' name = "login" placeholder="Логин"/>
          <input class="inp" type = 'text' name = "password" placeholder="Пароль"/>-->
          <input class="button" type = 'submit' value="Войти"/>
        </form>
        <a href="/reg" >Нет аккаунта? Создайте!</a>
    </div>
</div>

{% endblock %}
