{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="login">
            <h1>Создать задачу</h1>
            <form  method="post" action={{url}} class="inp">
                {% for input in inputs %}
                <div class="text-field">
                    <label class="text-field__label" for="login">Дыр бул щыл</label>
                    <input class="text-field__input" type="text" name={{input}}/>
                </div>
                {% endfor %}

                <input type="submit" class="button" value="Создать задачу">
                <p onclick="location.href='/logout'">Разлогинится к хуям</p>
            </form>
        </div>
    </div>
{% endblock %}
