{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="login">
        <h1>Регистрация</h1>
        <form method = "POST" class="inp">
            <div class="text-field">
                <label class="text-field__label" for="login">Логин</label>
                <input class="text-field__input" type="text" name="login" placeholder="GigaChad">
            </div>
            <br>
            <div class="text-field">
                <label class="text-field__label" for="login">Пароль</label>
                <input class="text-field__input" type="text" name="password" placeholder="BestPasswordEver123">
            </div>
            <br>
            <div class="text-field">
                <label class="text-field__label" for="login">Номер телефона</label>
                <input class="text-field__input" type="text" name="phone" placeholder="+79991234567">
            </div>
          <!-- <input class="inp" type = 'text' name = "login" placeholder="Логин"/>
          <input class="inp" type = 'text' name = "password" placeholder="Пароль"/>-->
          <input class="button" type = 'submit' value="Зарегестрироваться"/>
        </form>
    </div>
</div>

{% endblock %}
